[project]
	description = A best practice of building an OpenStack based data- center
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeffrey Yang (j3ffyang)
[access "refs/for/refs/*"]
	read = group user/Jeffrey Yang (j3ffyang)
	push = group user/Jeffrey Yang (j3ffyang)
	label-Code-Review = -2..+2 group user/Jeffrey Yang (j3ffyang)
	label-Verified = -1..+1 group user/Jeffrey Yang (j3ffyang)
	rebase = group user/Jeffrey Yang (j3ffyang)
	removeReviewer = group user/Jeffrey Yang (j3ffyang)
	submit = group user/Jeffrey Yang (j3ffyang)
[access "refs/heads/*"]
	read = group user/Jeffrey Yang (j3ffyang)
	create = group user/Jeffrey Yang (j3ffyang)
	push = +force group user/Jeffrey Yang (j3ffyang)
	pushMerge = group user/Jeffrey Yang (j3ffyang)
[access "refs/tags/*"]
	push = group user/Jeffrey Yang (j3ffyang)
	push = +force group user/Jeffrey Yang (j3ffyang)
